/* this css file is made because it can be used multiple places  */

.flex-all-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-1
{
    margin: 8px 0;
}

.my-2
{
    margin: 26px 0;
}

.text-center
{
    text-align: center;
}

.price
{
    color: green;
    font-weight: bolder;
}

.offer-line
{
    font-weight: bolder;
}